node_modules
!node_modules/@huasofoundries
jspm_packages
dist
stubs
src/vendor
lib/browser/wrap
test/polyfills
test/vendor
test/saucelabs-browsers.js
test/specs/server/compiler/fixtures
test/specs/server/compiler/expect
test/specs/server/compiler/parsers/js
test/performance/db-monster
misc/postman_testscripts
common/constants
misc/autodiscovery_automigrate
misc/collection_backips
misc/json_collections
misc/old_test_runs
misc/json_environments
misc/collection_backips
*.hbs
hbs
*hbs
views/*
