dist
node_modules
transpiled
worker
.vscode


.env
.mf
wrangler.yaml*
*.log

wrangler.toml
docs/banner.xcf
.temp
.cache
deploy.sh
wrangler.prod.toml
actions-runner
wrangler.prod.toml
wrangler.develop.toml
docs/images/img
docs/images/images
*_holdings.csv