*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz

.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
.env
.env*
sftp-config.json
fabfile.py*
dev_pm2app.json
pm2app.json
sftp-config*
pm2.*
config/ogemray*
__pycache__
nodemon.*
copy*.sh
ecosystem.config*
.logs_*
config/oneClickCerts*
config/*.csr
config/*.key
config/*.crt
config/*firebase*.json
mock.json
db.json
lesscache.json
nodemon.json
.logs_*
newman/*
!newman/.gitignore
!newman/COLLECTION*.json
update_documentation
config.json
misc/*.json
*.hbs
misc/collection_backups
misc/old_test_runs
