/*https://github.com/vuejs/vitepress/blob/master/src/client/theme-default/styles/vars.css*/
:root {
    --c-brand: #7491a3;
    --c-brand-light: #99b8e7;
    --c-text-light:#666;
  }
  a {
    font-weight:600 ;
    color:darkslategrey !important;
  }
  .nav-link.action a { color:white !important;font-weight:500 !important;}

  .content table 

  td code {
    color:#111;
    white-space:nowrap;
  }
  .custom-block.tip {border-color:#4caf50;}

  .custom-block.tip .custom-block-title::before {
    content:'💡';width:20px;height:20px;margin-right:0.5em;color:#2c9f50;font-size:1.2em;
  }

  .gray table td {background:#eee}


  blockquote a em {
    
    color: var(--c-text-lighter);
  }
  blockquote a strong {
    font-weight:bolder;
  }
  #compression-optimization + ul + table {
    border:0 none;
  }
  #compression-optimization + ul + table th {
    padding:0.2em;
    font-weight:600;
    border:0 none;
  }
  #compression-optimization + ul + table td {
    padding:0.2em 0.3em;
    border:0 none;
  }
  #colorize-blur-sharpen + ul > li {
    width:50%;
    float:left;
  }
  .box {
    width: 170px;
    padding: 0.5em;
    margin: 0;
    font-weight:bold;
    color:white;
    color: #fff;
    text-align: right;
    background: #7fbc03;
    border-radius: 0.35em;
    position: relative;
    font-size:0.85em;
    z-index: 0;
  }
  
  .box::before,
  .box::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    background: inherit;
    border-radius:inherit;
    border-bottom-left-radius:0;
    transform-origin: top left;
  }
  
  .box::before {
    left: 0;
    right: 20%;
    transform: skewX(-40deg);
  }
  
  .box::after {
    z-index: -2;
    left: 1px;
    height: 130%; /* ~ 100%/cos(40deg) */
    width: 40px;
    filter: brightness(0.7);
    transform: rotate(40deg);
  }
  
  .right {
    text-align: left;
    background:  var(--c-brand);;
  }
  
  .right::before {
    right: 0;
    left: 20%;
    border-bottom-right-radius:0;
    border-bottom-left-radius:inherit;
    transform: skewX(40deg);
  }
  
  .right::after {
    right: 1px;
    left: auto;
    transform-origin: top right;
    border-bottom-right-radius:0;
    border-bottom-left-radius:inherit;
    transform: rotate(-40deg);
  }